

.buttonIn {
    width: 300px;
    position: relative;
}
  
.input1 {
    margin: 0px;
    padding: 6px;
    width: 100%;
    outline: none;
    height: 52px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #3a3a3c
}

.button1 {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 10px;
   
    border: none;
    top: 7px;
    
    height: 20px;
    cursor: pointer;
    color: #3a3a3c;
    background-color: #FAA21A;
    transform: translateX(2px);
}